[submodule "pkgs/libndpip/src"]
	path = pkgs/libndpip/src
	url = git@github.com:cs-pub-ro/lib-ndpip.git
	branch = master
[submodule "pkgs/libndpip-perf/src"]
	path = pkgs/libndpip-perf/src
	url = git@github.com:cs-pub-ro/lib-ndpip.git
	branch = perf
